<%- include('partials/header') %>
<main>
    <div class="container-fluid d-flex mt-3 justify-content-center">
        <div class="col-3">
            <form class="container-connect p-3 border rounded bg-light">
                <div class="container-connect-input">
                    <div class="mb-3 form-group">
                        <label for="ip" class="form-label">IP Address:</label>
                        <input type="text" id="ip" class="form-control" placeholder="E.g., 192.168.1.100">
                    </div>
                    <div class="mb-3 form-group">
                        <label for="port" class="form-label">Port:</label>
                        <input type="text" id="port" class="form-control" placeholder="E.g., 1883">
                    </div>
                    <div class="form-status">
                        <p id="status">DISCONNECTED</p>
                        <p id="error" class="text-danger"></p>
                    </div>
                </div>
                <button id="connectBtn" class="btn btn-primary w-100">Connect</button>
            </form>
        </div>
    </div>
    
    <div id="value1" data-value="1"></div>
    <div id="value2" data-value="2"></div>
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <script src="/public/js/mqttConnect.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/socketio.js"></script>
</main>
<%- include('partials/footer') %>
